params {
    members{
        antifam {
            runner = "hmmer"
            hmm = "antifam/AntiFam.hmm"
            switches = "--cut_ga --cpu 1"
        }
        cdd {
            runner = "rpsblast"
            switches = "-evalue 0.01 -seg no -outfmt 11"
            library = "cdd/db/Cdd_NCBI"
            postprocess {
                switches = "-m std"
                data = "cdd/data"
            }
        }
        coils {
            runner = "ncoils"
            switches = "-c"
        }
        gene3d {
            runner = "hmmer"
            hmm = "cath/gene3d/gene3d_main.hmm"
            switches = "-Z 65245 -E 0.001 --cpu 1"
            postprocess {
                cath_resolve_hits_switches = "--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
                model2sf_map = "cath/gene3d/model_to_family_map.tsv"
                discontinuous_regs = "cath/gene3d/discontinuous_regs.pkl.py3"
                assign_cath_superfamilies = "$projectDir/bin/gene3d/assign_cath_superfamilies.py"
            }
        }
        funfam {
            runner = "hmmer"
            hmm = "cath/funfam/"
            switches = "-Z 65245 --cut_tc --cpu 1"
            postprocess {
                cath.resolve.hits ="--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
            }
        }
        hamap {
            runner = "hmmer"
            hmm = "hamap/hamap.hmm.lib"
            switches = "-E 100 --domE 100 --incE 100 --incdomE 100 --cpu 1"
            postprocess {
                models_dir = "hamap/profiles"
                pfsearchv3_switches = "-f -o 7"
            }
        }
        mobidb {
            release = "2.0"
            runner = "idrpred"
            switches = ""
        }
        ncbifam {
            runner = "hmmer"
            hmm = "ncbifam/ncbifam.hmm"
            switches = "-Z 61295632 --cut_tc --cpu 1"
        }
        panther {
            runner = "hmmer"
            hmm = "panther/famhmm/binHmm"
            switches = "-Z 65000000 -E 0.001 --domE 0.00000001 --incdomE 0.00000001 --notextw --cpu 1"
            postprocess {
                evalue = 0.00000001
                data_dir = "panther/"
                paint_annotations = "panther/PAINT_Annotations"
            }
        }
        phobius {
            runner = "phobius"
        }
        pfam {
            runner = "hmmer"
            hmm = "pfam/pfam_a.hmm"
            switches = "-Z 61295632 --cut_ga --cpu 1"
            postprocess {
                min_length = 8
                seed = "pfam/pfam_a.seed"
                clan = "pfam/pfam_clans"
                data = "pfam/pfam_a.dat"
            }
        }
        pirsf {
            runner = "hmmer"
            hmm = "pirsf/sf_hmm_all"
            switches = "-E 0.01 --acc --cpu 1"
            postprocess {
                data = "pirsf/pirsf.dat"
            }
        }
        pirsr {
            runner = "hmmer"
            hmm = "pirsr/sr_hmm_all"
            switches = "-E 0.01 --acc --cpu 1"
            postprocess {
                rules = "pirsr/sr_uru.json"
            }
        }
        prints {
            runner = "fingerPRINTScan"
            bin = "$projectDir/bin/prints/fingerPRINTScan"
            data {
                kdat = "prints/prints.kdat"
                pval = "prints/prints.pval"
                hierarchy = "prints/FingerPRINTShierarchy.db"
            }
            switches = "-e 0.0001 -d 10 -E 257043 84355444 -fj -o 15"
        }
        prosite_patterns {
            runner = "prosite_patterns"
            switches = "-r -s -o ipro"
            data = "prosite/prosite_patterns.dat"
            evaluator = "prosite/evaluator.dat"
        }
        prosite_profiles {
            runner = "prosite_profiles"
            switches = "-f -o 7 -t 4"
            data = "prosite/prosite_profiles"
            skip_flagged_profiles = "prosite/skip_flagged_profiles.txt"
        }
        sfld {
            runner = "hmmer"
            hmm = "sfld/sfld.hmm"
            switches = "-Z 378 --acc --cut_ga --cpu 1"
            postprocess {
                sites_annotation = "sfld/sfld_sites.annot"
                hierarchy = "sfld/sfld_hierarchy_flat.txt"
            }
        }
        smart {
            runner = "hmmer"
            hmm = "smart/smart.HMMs.bin"
            switches = "--acc -A 0 -E 0.01 -Z 350000"
        }
        superfamily {
            runner = "hmmer"
            hmm = "superfamily/hmmlib_1.75"
            switches = "-E 10 -Z 15438 --cpu 1"
            postprocess {
                bin = "$projectDir/bin/superfamily/ass3.pl"
                self_hits = "superfamily/self_hits.tab"
                cla = "superfamily/dir.cla.scop.txt_1.75"
                model = "superfamily/model.tab"
                pdbj95d = "superfamily/pdbj95d"
                ass3_switches = "-e 0.0001 -t n -f 1"
            }
        }
        signalp {
            release = "6.0h"
            runner = "signalp"
            data {
                organism = "other"
                pvalue = 0.95
            }
        }
        signalp_euk {
            release = "4.1"
            runner = "signalp_euk"
            data {
                organism = "euk"
                pvalue = 0.95
            }
        }
        tmhmm {
            release = "2.0c"
            runner = "tmhmm"
            bin = "$projectDir/bin/tmhmm/decodeanhmm"
            data {
                model = "tmhmm/TMHMM.model"
            }
            switches = "-N 1 -PrintNumbers"
        }
    }
}
