params {
    members{
        antifam {
            release = "7.0"
            runner = "hmmer"
            hmm = "$projectDir/data/antifam/${release}/AntiFam.hmm"
            switches = "--cut_ga --cpu 1"
        }
        cdd {
            release = "3.20"
            runner = "rpsblast"
            switches = "-evalue 0.01 -seg no -outfmt 11"
            library = "$projectDir/data/cdd/${release}/db/Cdd_NCBI"
            postprocess {
                switches = "-m std"
                data = "$projectDir/data/cdd/${release}/data"
            }
        }
        coils {
            release = "2.2.1"
            runner = "ncoils"
            switches = "-c"
        }
        gene3d {
            release = "4.3.0"
            runner = "hmmer"
            hmm = "$projectDir/data/cath/${release}/gene3d_main.hmm"
            switches = "-Z 65245 -E 0.001 --cpu 1"
            postprocess {
                cath_resolve_hits_switches = "--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
                model2sf_map = "$projectDir/data/cath/4.3.0/model_to_family_map.tsv"
                discontinuous_regs = "$projectDir/data/cath/4.3.0/discontinuous_regs.pkl.py3"
                assign_cath_superfamilies = "$projectDir/bin/gene3d/4.3.0/assign_cath_superfamilies.py"
            }
        }
        funfam {
            release = "4.3.0"
            runner = "hmmer"
            hmm = "$projectDir/data/cath/${release}/models/"
            switches = "-Z 65245 --cut_tc --cpu 1"
            postprocess {
                cath.resolve.hits ="--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
            }
        }
        hamap {
            release = "2023_05"
            runner = "hmmer"
            hmm = "$projectDir/data/hamap/2023_05/hamap.hmm.lib"
            switches = "-E 100 --domE 100 --incE 100 --incdomE 100 --cpu 1"
            postprocess {
                models_dir = "$projectDir/data/hamap/2023_05/profiles"
                pfsearchv3_switches = "-f -o 7"
            }
        }
        mobidb {
            release = "2.0"
            runner = "mobidb"
            switches = ""
        }
        ncbifam {
            release = "14.0"
            runner = "hmmer"
            hmm = "$projectDir/data/ncbifam/${release}/ncbifam.hmm"
            switches = "-Z 61295632 --cut_tc --cpu 1"
        }
        panther {
            release = "18.0"
            runner = "hmmer"
            hmm = "$projectDir/data/panther/${release}/famhmm/binHmm"
            switches = "-Z 65000000 -E 0.001 --domE 0.00000001 --incdomE 0.00000001 --notextw --cpu 1"
            postprocess {
                evalue = 0.00000001
                data_dir = "$projectDir/data/panther/${release}/"
                paint_annotations = "$projectDir/data/panther/${release}/PAINT_Annotations"
            }
        }
        phobius {
            release = "1.01"
            runner = "phobius"
        }
        pfam {
            release = "37.0"
            runner = "hmmer"
            hmm = "$projectDir/data/pfam/${release}/pfam_a.hmm"
            switches = "-Z 61295632 --cut_ga --cpu 1"
            postprocess {
                min_length = 8
                seed = "pfam-a.seed.path=$projectDir/data/pfam/${release}/pfam_a.seed"
                clan = "pfam-clans.path=$projectDir/data/pfam/${release}/pfam_clans"
                data = "pfam-a.dat.path=$projectDir/data/pfam/${release}/pfam_a.dat"
            }
        }
        pirsf {
            release = "3.10"
            runner = "hmmer"
            hmm = "$projectDir/data/pirsf/${release}/sf_hmm_all"
            switches = "-E 0.01 --acc --cpu 1"
            postprocess {
                data = "$projectDir/data/pirsf/${release}/pirsf.dat"
                switches = "--outfmt i5 -cpu 1"
            }
        }
        pirsr {
            release = "2023_05"
            runner = "hmmer"
            hmm = "$projectDir/data/pirsr/${release}/sr_hmm_all"
            switches = "-E 0.01 --acc --cpu 1"
            postprocess {
                data = "$projectDir/data/pirsr/${release}/"
                rules = "$projectDir/data/pirsr/${release}/sr_uru.json"
            }
        }
        prints {
            release = "42.0"
            runner = "fingerPRINTScan"
            bin = "$projectDir/bin/prints/fingerPRINTScan"
            data {
                kdat = "$projectDir/data/prints/${release}/prints.kdat"
                pval = "$projectDir/data/prints/${release}/prints.pval"
                hierarchy = "$projectDir/data/prints/${release}/FingerPRINTShierarchy.db"
            }
            switches = "-e 0.0001 -d 10 -E 257043 84355444 -fj -o 15"
        }
        prosite_patterns {
            release = "2023_05"
            runner = "prosite_patterns"
            switches = "-r -s -o ipro"
            data = "$projectDir/data/prosite/2023_05/prosite_patterns.dat"
            evaluator = "$projectDir/data/prosite/2023_05/evaluator.dat"
        }
        prosite_profiles {
            release = "2023_05"
            runner = "prosite_profiles"
            switches = "-f -o 7 -t 4"
            data = "$projectDir/data/prosite/2023_05/prosite_profiles"
            skip_flagged_profiles = "$projectDir/data/prosite/2023_05/skip_flagged_profiles.txt"
        }
        sfld {
            release = "4"
            runner = "hmmer"
            hmm = "$projectDir/data/sfld/${release}/sfld.hmm"
            switches = "-Z 378 --acc --cut_ga --cpu 1"
            postprocess {
                sites_annotation = "$projectDir/data/sfld/${release}/sfld_sites.annot"
                hierarchy = "$projectDir/data/sfld/${release}/sfld_hierarchy_flat.txt"
            }
        }
        smart {
            release = "9.0"
            runner = "hmmer"
            hmm = "$projectDir/data/smart/${release}/smart.HMMs.bin"
            switches = "--acc -A 0 -E 0.01 -Z 350000"
        }
        superfamily {
            release = "1.75"
            runner = "hmmer"
            hmm = "$projectDir/data/superfamily/${release}/hmmlib_${release}"
            switches = "-E 10 -Z 15438 --cpu 1"
            postprocess {
                bin = "$projectDir/bin/superfamily/${release}/ass3.pl"
                self_hits = "$projectDir/data/superfamily/${release}/self_hits.tab"
                cla = "$projectDir/data/superfamily/${release}/dir.cla.scop.txt_${release}"
                model = "$projectDir/data/superfamily/${release}/model.tab"
                pdbj95d = "$projectDir/data/superfamily/${release}/pdbj95d"
                ass3_switches = "-e 0.0001 -t n -f 1"
            }
        }
        signalp {
            release = "6.0h"
            runner = "signalp"
            data {
                mode = "fast"
                model_dir = "$projectDir/data/signalp/models"
                organism = "other"
                pvalue = 0.95
            }
            switches = "-f summary -c 70"
        }
        tmhmm {
            release = "2.0c"
            runner = "tmhmm"
            bin = "$projectDir/bin/tmhmm/${release}/decodeanhmm"
            data {
                model = "$projectDir/data/tmhmm/${release}/TMHMM${release}.model"
            }
            switches = "-N 1 -PrintNumbers"
        }
    }
}
