params {
    members_hmm {
        antifam = "$projectDir/data/antifam/7.0/AntiFam.hmm"
        ncbifam = "$projectDir/data/ncbifam/11.0/ncbifam.hmm"
    }
    members_switches{
        antifam = "--cut_ga"
        ncbifam = "-Z 15364 --cut_tc"
    }
    hmmsearch_bin = "$projectDir/bin/hmmer/hmmer3/3.1b1/hmmsearch"
    hmmscan_bin = "$projectDir/bin/hmmer/hmmer3/3.1b1/hmmscan"
}