params {
    members_hmm {
        hmm_antifam_path = "$projectDir/data/antifam/7.0/AntiFam.hmm"
        hmm_ncbifam_path = "$projectDir/data/ncbifam/11.0/ncbifam.hmm"
    }
    switches{
        switches_antifam = ""
        switches_ncbifam = ""
    hmmsearch_bin = "$projectDir/bin/hmmer/hmmer3/3.1b1/hmmsearch"
    hmmscan_bin = "$projectDir/bin/hmmer/hmmer3/3.1b1/hmmscan"
}
