params {
    members_hmm {
        antifam = "$projectDir/data/antifam/7.0/AntiFam.hmm"
        ncbifam = "$projectDir/data/ncbifam/test/ncbifam.hmm"
        hamap = "$projectDir/data/hamap/2023_01/hamap.hmm.lib"
        panther = "$projectDir/data/panther/17.0/famhmm/binHmm"
        pfam = "$projectDir/data/pfam/35.0/pfam_a.hmm"
        pirsf = "$projectDir/data/pirsf/3.10/sf_hmm_all"
        sfld = "$projectDir/data/sfld/4/sfld.hmm"
        gene3d = "$projectDir/data/gene3d/4.3.0/gene3d_main.hmm"
        superfamily = "$projectDir/data/superfamily/1.75/hmmlib_1.75"
        pirsr = "$projectDir/data/pirsr/2021_05/sr_hmm_all"
        smart = "$projectDir/data/smart/9.0/smart.HMMs"
        funfam_file_10 = "$projectDir/data/funfam/4.3.0/models/4/10/75/10.hmm"
        funfam_file_40 = "$projectDir/data/funfam/4.3.0/models/3/40/50/40.hmm"
        funfam_file_1170 = "$projectDir/data/funfam/4.3.0/models/3/40/50/1170.hmm"
    }
    members_switches{
        antifam = "--cut_ga"
        ncbifam = "-Z 15364 --cut_tc"
    }
    hmmsearch_bin = "$projectDir/bin/hmmer/hmmer3/3.1b1/hmmsearch"
    hmmscan_bin = "$projectDir/bin/hmmer/hmmer3/3.1b1/hmmscan"
}