params {
    members{
        antifam {
            release = "7.0"
            runner = "hmmer"
            data = "$projectDir/data/antifam/7.0/AntiFam.hmm"
            switches = "--cut_ga --cpu 1"
        }
        cdd {
            release = "3.20"
            runner = "rpsblast"
            bin {
                rpsblast = "$projectDir/bin/cdd/rpsblast"
                rpsbproc = "$projectDir/bin/cdd/rpsbproc"
            }
            data {
                signature_list = "$projectDir/data/cdd/3.20/data/cddid.tbl"
                library = "$projectDir/data/cdd/3.20/db/Cdd_NCBI"
            }
            switches {
                rpsblast = "-evalue 0.01 -seg no -outfmt 11"
                rpsbproc = "-m std"
            }
        }
        coils {
            release = "2.2.1"
            runner = "ncoils"
            bin = "$projectDir/data/coils/2.2.1/ncoils"
            switches = "-c"
        }
        gene3d {
            release = "4.3.0"
            runner = "hmmer"
            bin {
                resolve_hits = "$projectDir/bin/gene3d/4.3.0/cath-resolve-hits"
                assign_cath_superfamilies = "$projectDir/bin/gene3d/4.3.0/assign_cath_superfamilies.py"
            }
            data {
                hmm = "$projectDir/data/gene3d/4.3.0/gene3d_main.hmm"
                model2sf_map = "$projectDir/data/gene3d/4.3.0/model_to_family_map.tsv"
                discontinuous_regs = "$projectDir/data/gene3d/4.3.0/discontinuous_regs.pkl.py3"
            }
            switches {
                hmmsearch = "-Z 65245 -E 0.001 --cpu 1"
                assign_cath_superfamilies = "--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
                cath_resolve_hits = "--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
            }
            others {
                hmmsearch_force = true
                evalue_cutoff = 0.001
            }
        }
        funfam {
            release = "4.3.0"
            runner = "hmmer"
            data {
                models = "$projectDir/data/funfam/4.3.0/models/"
            }
            postprocess {
                bin = "$projectDir/bin/funfam/4.3.0/search.py"
                cath.resolve.hits ="--min-dc-hmm-coverage=80 --worst-permissible-bitscore 25 --output-hmmer-aln"
            }
            switches {
                hmmsearch = "-Z 65245 --cut_tc --cpu 1"
                cath.resolve.hits = 
            }
        }
        hamap {
            release = "2023_05"
            runner = "hmmer"
            bin = "$projectDir/bin/prosite/pfsearch_wrapper.py"
            data {
                hmm = "$projectDir/data/hamap/2023_05/hamap.hmm.lib"
                models = "$projectDir/data/hamap/2023_05/hamap.prf"
                models_dir = "$projectDir/data/hamap/2023_05/profiles"
            }
            switches {
                hmmfilter = "-E 100 --domE 100 --incE 100 --incdomE 100 --cpu 1"
                pfsearchv3 = "-f -o 7"
            }
        }
        mobidb {
            release = "2.0"
            runner = "mobidb"
            bin {
                mobidb = "$projectDir/bin/mobidb/2.0/mobidb_lite.py"
                binx = "$projectDir/bin/mobidb/2.0/binx"
            }
            switches = "-a 64 -t 1"
        }
        ncbifam {
            release = "13.0"
            runner = "hmmer"
            data = "$projectDir/data/ncbifam/14.0/ncbifam.hmm"
            switches = "-Z 61295632 --cut_tc --cpu 1"
        }
        panther {
            release = "18.0"
            runner = "hmmer"
            data = "$projectDir/data/panther/18.0/famhmm/binHmm"
            switches = "-Z 65000000 -E 0.001 --domE 0.00000001 --incdomE 0.00000001 --notextw --cpu 1"
            postprocess {
                epang = "$projectDir/bin/panther/epa-ng"
                treegrafter = "$projectDir/bin/panther/treegrafter.py"
                switches = "-e 0.00000001 --keep"
                control_factor = 1
                hmmsearch_force = true
            }
        }
        phobius {
            release = "1.01"
            runner = "phobius"
            bin = "$projectDir/bin/phobius/1.01/phobius.pl"
        }
        pfam {
            release = "36.0"
            runner = "hmmer"
            data = "pfam-a.hmm.path=$projectDir/data/pfam/36.0/pfam_a.hmm"
            switches = "-Z 61295632 --cut_ga --cpu 1"
            postprocess {
                min.length = 8
                seed = "pfam-a.seed.path=$projectDir/data/pfam/36.0/pfam_a.seed"
                clan = "pfam-clans.path=$projectDir/data/pfam/36.0/pfam_clans"
                data = "pfam-a.dat.path=$projectDir/data/pfam/36.0/pfam_a.dat"
            }
        }
        pirsf {
            release = "3.10"
            runner = "hmmer"
            data = "$projectDir/data/pirsf/3.10/sf_hmm_all"
            switches = "-E 0.01 --acc --cpu 1"
            postprocess {
                bin = "$projectDir/bin/pirsf/3.10/pirsf.pl"
                data = "$projectDir/data/pirsf/3.10/pirsf.dat"
                switches = "--outfmt i5 -cpu 1"
                hmmsearch_force = false
            }
        }
        pirsr {
            release = "2023_05"
            runner = "hmmer"
            data = "$projectDir/data/pirsr/2021_05/sr_hmm_all"
            switches = "-E 0.01 --acc --cpu 1"
            postprocess {
                bin = "$projectDir/bin/pirsr/0.1/pirsr.py"
                data = "$projectDir/data/pirsr/2023_05/"
                rules = "$projectDir/data/pirsr/2023_05/sr_uru.json"
                hmmsearch_force = true
            }
        }
        prints {
            release = "42.0"
            runner = "fingerPRINTScan"
            bin = "$projectDir/bin/prints/fingerPRINTScan"
            data {
                kdat = "$projectDir/data/prints/42.0/prints.kdat"
                pval = "$projectDir/data/prints/42.0/prints.pval"
                hierarchy = "$projectDir/data/prints/42.0/FingerPRINTShierarchy.db"
            }
            switches = "-e 0.0001 -d 10 -E 257043 84355444 -fj -o 15"
        }
        prosite {
            bin {
                psscan = "$projectDir/bin/prosite/ps_scan.pl"
                pfscanv3 = "$projectDir/bin/prosite/pfscanV3"
                pfsearchv3 = "$projectDir/bin/prosite/pfsearchV3"
                runprosite = "$projectDir/bin/prosite/runprosite.py"
            }
            data {
                evaluator = "$projectDir/data/prosite/2023_05/evaluator.dat"
            }
            patterns {
                release = "2023_05"
                runner = "psscan"
                switches = "-r -s -o ipro"
                data = "$projectDir/data/prosite/2023_05/prosite_patterns.dat"
            }
            profiles {
                release = "2023_05"
                runner = "pfsearchv3"
                data {
                    models_path = "$projectDir/data/prosite/2023_05/prosite_profiles.dat"
                    models_dir = "$projectDir/data/prosite/2023_05/prosite_profiles"
                    skip_flagged_profiles = "$projectDir/data/prosite/2023_05/skip_flagged_profiles.txt"
                }
                switches = "-f -o 7 -t 4"
                others {
                    psscan_usepfsearch = true
                }
            }
        }
        sfld {
            release = "4"
            runner = "hmmer"
            data = "$projectDir/data/sfld/4/sfld.hmm"
            switches = "-Z 378 --acc --cut_ga --cpu 1"
            postprocess {
                bin = "$projectDir/bin/sfld/sfld_postprocess"
                hmmsearch_force = true
                sites_annotation = "$projectDir/data/sfld/4/sfld_sites.annot"
                hierarchy = "$projectDir/data/sfld/4/sfld_hierarchy_flat.txt"
            }
        }
        smart {
            release = "9.0"
            runner = "hmmer"
            data = "$projectDir/data/smart/9.0/smart.HMMs"
            switches = "--acc -A 0 --cpu 1"
            postprocess {
                binary = "$projectDir/bin/smart/9.0/smart.HMMs.bin"
            }
        }
        superfamily {
            release = "1.75"
            runner = "hmmer"
            data = "$projectDir/data/superfamily/1.75/hmmlib_1.75"
            switches = "-E 10 -Z 15438 --cpu 1"
            postprocess {
                bin = "$projectDir/bin/superfamily/1.75/ass3_single_threaded.pl"
                self_hits = "$projectDir/data/superfamily/1.75/self_hits.tab"
                cla = "$projectDir/data/superfamily/1.75/dir.cla.scop.txt_1.75"
                model_tab = "$projectDir/data/superfamily/1.75/model.tab"
                pdbj95d = "$projectDir/data/superfamily/1.75/pdbj95d"
            }
        }
        signalp {
            release {
                euk = "4.1"
                gramnegative = "4.1"
                grampositive = "4.1"
            }
            runner = "signalp"
            bin = "$projectDir/bin/signalp/4.1/signalp"
            data = "$projectDir/signalp/4.1/lib"
            switches {
                euk = "-t euk -f summary -c 70"
                gramnegative = "-t gram- -f summary -c 70"
                grampositive = "-t gram+ -f summary -c 70"
            }
        }
        tmhmm {
            release = "2.0c"
            runner = "tmhmm"
            bin = "$projectDir/bin/tmhmm/2.0c/decodeanhmm"
            data {
                model = "$projectDir/data/tmhmm/2.0c/TMHMM2.0c.model"
            }
            switches = "-N 1 -PrintNumbers"
        }
    }
}
