*.DS_Store
.idea/
.nextflow*
.nf-test*
.vscode/
*__pycache__*
tests/integration_tests/test_outputs/current_output.json
tests/integration_tests/test_outputs/current_output.tsv-pro
tests/integration_tests/temp_expected.json
tests/integration_tests/temp_current.json
work/
