*.DS_Store
.idea/
.nextflow.log*
.nextflow/
docker_files/.nextflow.log
*__pycache__*
work/
results/
*signalp-6-package/
data/antifam/
data/cath/
data/cdd/
data/hamap/
data/ncbifam/
data/panther/
data/pfam/
data/pirsf/
data/pirsr/
data/prints/
data/prosite/
data/sfld/
data/smart/
data/superfamily/
