
dag {
    enabled = true
    overwrite = true
    file = 'pipeline_dag.html'
}

process.container = 'i6:latest'
docker.enabled = false

params {
    data {
        entries="$projectDir/data_xref/entries"
        goterms="$projectDir/data_xref/goterms"
        pathways="$projectDir/data_xref/pathways"
    }
    matchlookupurl = "https://www.ebi.ac.uk/interpro/match-lookup"
    batchsize = 2  %100
    publish_dir = './results'
}
