params {
    ipsc_version = '6.0.0'
    applications = 'AntiFam,CDD,Coils,FunFam,Gene3D,HAMAP,NCBIfam,Panther,Pfam,PIRSF,PRINTS,PROSITE_PATTERNS,PROSITE_Profiles,SFLD,SMART,SUPERFAMILY'
    disable_precalc = false
    formats = 'json,tsv,xml'
    goterms = true
    help = false
    input = null
    nucleic = false
    output = '/hps/nobackup/agb/interpro/ehobbs/pfsearch-results/output'
    pathways = true
    translate {
        strand = 'both'
        methionine = false
        min_len = 30
        genetic_code = 1
    }
    version = false
}

trace {
    enabled = true
    fields = 'task_id,process,realtime,duration,status,cpus,%cpu,time,memory,%mem,rss,peak_rss,submit,start,complete,queue'
    file = 'ips6.trace.txt'
    overwrite = true   
}

errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }

profiles {
    local { includeConfig 'utilities/profiles/local.config' }
    slurm { includeConfig 'utilities/profiles/slurm.config' }
    docker { includeConfig 'utilities/profiles/docker.config' }
    singularity { includeConfig 'utilities/profiles/singularity.config' }
    apptainer { includeConfig 'utilities/profiles/apptainer.config' }
    ebi { includeConfig 'utilities/profiles/.ebi.config' }
}

includeConfig 'interproscan/subworkflows/sequence_precalc/lookup.config'
includeConfig 'interproscan/subworkflows/sequence_analysis/members.config'
includeConfig 'interproscan/subworkflows/xrefs/xrefs.config'
