params {
    ipsc_version = '6.0.0'
    applications = 'AntiFam,CDD,Coils,FunFam,Gene3D,HAMAP,NCBIfam,Panther,Pfam,PIRSF,PIRSR,PRINTS,PROSITE_PATTERNS,PROSITE_Profiles,SFLD,SMART,SUPERFAMILY'
    batchsize = 100
    disable_precalc = false
    formats = 'json,tsv,xml'
    goterms = false
    help = false
    input = null
    nucleic = false
    signalp_mode = 'fast'
    outdir = '.'
    pathways = false
    translate {
        strand = 'both'
        methionine = false
        min_len = 30
        genetic_code = 1
    }
    version = false
    signalp_gpu = false
}

process.container = 'interproscan6'
docker {
    enabled = true
    mountFlags = 'Z'
}

process {
    withLabel: signalp_runner {
        containerOptions = params.signalp_gpu ? '--gpus all' : ''
        container = params.signalp_gpu ? 'docker.io/library/signalp6_gpu' : 'docker.io/library/signalp6'
    }
    withLabel: write_results {
        publishDir = [
            path: params.outdir,
            mode: 'copy'
        ]
    }
}

includeConfig 'interproscan/subworkflows/sequence_precalc/lookup.config'
includeConfig 'interproscan/subworkflows/sequence_analysis/members.config'
includeConfig 'interproscan/subworkflows/xrefs/xrefs.config'
