params {
    appsConfig {
        antifam {
            invalid_chars = "-"
            hmm = "antifam/AntiFam.hmm"
        }
        cdd {
            rpsblast_db = "cdd/db/Cdd_NCBI"
            rpsproc_db = "cdd/data"
        }
        coils {
        }
        cathgene3d {
            aliases = ["gene3d"]
            invalid_chars = "-."
            hmm = "cath/gene3d/gene3d_main.hmm"
            model2sfs = "cath/gene3d/model_to_family_map.tsv"
            disc_regs = "cath/gene3d/discontinuous_regs.pkl.py3"
        }
        cathfunfam {
            aliases = ["funfam"]
            invalid_chars = "-."
            dir = "cath/funfam/"
            chunkSize = 1000
        }
        hamap {
            invalid_chars = "-."
            hmm = "hamap/hamap.hmm.lib"
            dir = "hamap/profiles"
        }
        mobidblite {
        }
        ncbifam {
            invalid_chars = "-"
            hmm = "ncbifam/ncbifam.hmm"
        }
        panther {
            invalid_chars = "-"
            hmm = "panther/famhmm/binHmm"
            msf = "panther/Tree_MSF"
            paint = "panther/PAINT_Annotations"
        }
        phobius {
            invalid_chars = "-*.OXUZJ"
            dir = ""
        }
        pfam {
            invalid_chars = "-"
            hmm = "pfam/pfam_a.hmm"
            seed = "pfam/pfam_a.seed"
            clan = "pfam/pfam_clans"
            dat = "pfam/pfam_a.dat"
        }
        pirsf {
            invalid_chars = "-"
            hmm = "pirsf/sf_hmm_all"
            data = "pirsf/pirsf.dat"
        }
        pirsr {
            invalid_chars = "-."
            hmm = "pirsr/sr_hmm_all"
            rules = "pirsr/sr_uru.json"
        }
        prints {
            pval = "prints/prints.pval"
            hierarchy = "prints/FingerPRINTShierarchy.db"
        }
        prositepatterns {
            data = "prosite/prosite_patterns.dat"
            evaluator = "prosite/evaluator.dat"
        }
        prositeprofiles {
            invalid_chars = "-."
            data = "prosite/prosite_profiles"
            skip_flagged_profiles = "prosite/skip_flagged_profiles.txt"
        }
        sfld {
            invalid_chars = "-."
            hmm = "sfld/sfld.hmm"
            hierarchy = "sfld/sfld_hierarchy_flat.txt"
            sites_annotation = "sfld/sfld_sites.annot"
        }
        smart {
            hmm = "smart/smart.HMMs"
            hmmbin = "smart/smart.HMMs.bin"
        }
        superfamily {
            invalid_chars = "-"
            hmm = "superfamily/hmmlib_1.75"
            selfhits = "superfamily/self_hits.tab"
            cla = "superfamily/dir.cla.scop.txt_1.75"
            model = "superfamily/model.tab"
            pdbj95d = "superfamily/pdbj95d"
        }
        signalp_euk {
            organism = "eukarya"
            dir = ""
            mode = "fast"
        }
        signalp_prok {
            organism = "other"
            dir = ""
            mode = "fast"
        }
        tmhmm {
            name = "TMHMM"
        }
    }
}

