params {
    appsConfig {
        antifam {
            name = "AntiFam"
            invalid_chars = "-"
            hmm = "antifam/AntiFam.hmm"
            has_data = true
        }
        cdd {
            name = "CDD"
            rpsblast_db = "cdd/db"
            rpsproc_db = "cdd/data"
            has_data = true
        }
        coils {
            name = "COILS"
            has_data = false
        }
        cathgene3d {
            name = "CATH-Gene3D"
            aliases = ["gene3d"]
            invalid_chars = "-."
            hmm = "cath/gene3d/gene3d_main.hmm"
            model2sfs = "cath/gene3d/model_to_family_map.tsv"
            disc_regs = "cath/gene3d/discontinuous_regs.pkl.py3"
            has_data = true
        }
        cathfunfam {
            name = "CATH-FunFam"
            aliases = ["funfam"]
            invalid_chars = "-."
            dir = "cath/funfam/"
            chunkSize = 1000
            has_data = true
        }
        hamap {
            name = "HAMAP"
            invalid_chars = "-."
            hmm = "hamap/hamap.hmm.lib"
            dir = "hamap/profiles"
            has_data = true
        }
        mobidblite {
            name = "MobiDB-lite"
            has_data = false
        }
        ncbifam {
            name = "NCBIFAM"
            invalid_chars = "-"
            hmm = "ncbifam/ncbifam.hmm"
            has_data = true
        }
        panther {
            name = "PANTHER"
            invalid_chars = "-"
            hmm = "panther/famhmm/binHmm"
            msf = "panther/Tree_MSF"
            paint = "panther/PAINT_Annotations"
            has_data = true
        }
        phobius {
            name = "Phobius"
            invalid_chars = "-*.OXUZJ"
            dir = ""
            has_data = false
        }
        pfam {
            name = "Pfam"
            invalid_chars = "-"
            hmm = "pfam/pfam_a.hmm"
            seed = "pfam/pfam_a.seed"
            clan = "pfam/pfam_clans"
            dat = "pfam/pfam_a.dat"
            has_data = true
        }
        pirsf {
            name = "PIRSF"
            invalid_chars = "-"
            hmm = "pirsf/sf_hmm_all"
            dat = "pirsf/pirsf.dat"
            has_data = true
        }
        pirsr {
            name = "PIRSR"
            invalid_chars = "-."
            hmm = "pirsr/sr_hmm_all"
            rules = "pirsr/sr_uru.json"
            has_data = true
        }
        prints {
            name = "PRINTS"
            pval = "prints/prints.pval"
            hierarchy = "prints/FingerPRINTShierarchy.db"
            has_data = true
        }
        prositepatterns {
            name = "PROSITE patterns"
            dat = "prosite/prosite_patterns.dat"
            evaluator = "prosite/evaluator.dat"
            has_data = true
        }
        prositeprofiles {
            name = "PROSITE profiles"
            invalid_chars = "-."
            dir = "prosite/prosite_profiles"
            skip_flagged_profiles = "prosite/skip_flagged_profiles.txt"
            has_data = true
        }
        sfld {
            name = "SFLD"
            invalid_chars = "-."
            hmm = "sfld/sfld.hmm"
            hierarchy = "sfld/sfld_hierarchy_flat.txt"
            sites_annotation = "sfld/sfld_sites.annot"
            has_data = true
        }
        smart {
            name = "SMART"
            hmm = "smart/smart.HMMs"
            hmmbin = "smart/smart.HMMs.bin"
            has_data = true
        }
        superfamily {
            name = "SUPERFAMILY"
            invalid_chars = "-"
            hmm = "superfamily/hmmlib_1.75"
            selfhits = "superfamily/self_hits.tab"
            cla = "superfamily/dir.cla.scop.txt_1.75"
            model = "superfamily/model.tab"
            pdbj95d = "superfamily/pdbj95d"
            has_data = true
        }
        signalp_euk {
            name = "SignalP-Euk"
            organism = "eukarya"
            dir = ""
            mode = "fast"
            has_data = false
        }
        signalp_prok {
            name = "SignalP-Prok"
            organism = "other"
            dir = ""
            mode = "fast"
            has_data = false
        }
        tmhmm {
            name = "TMHMM"
            has_data = false
        }
    }
}

