params {
    appsConfig {
        antifam {
            name = "AntiFam"
            dir = "antifam"
            hmm = "AntiFam.hmm"
            has_data = true
        }
        cathgene3d {
            name = "CATH-Gene3D"
            aliases = ["gene3d"]
            dir = "cath/gene3d"
            hmm = "gene3d_main.hmm"
            model2sfs = "model_to_family_map.tsv"
            disc_regs = "discontinuous_regs.pkl.py3"
            has_data = true
        }
        cathfunfam {
            name = "CATH-FunFam"
            aliases = ["funfam"]
            dir = "cath/funfam"
            has_data = true
        }        
        cdd {
            name = "CDD"
            dir = "cdd"
            rpsblast_db = "db/Cdd_NCBI"
            rpsproc_db = "data"
            has_data = true
        }
        coils {
            name = "COILS"
            has_data = false
        }
        deeptmhmm {
            name = "DeepTMHMM"
            dir = ""
            has_data = false
            use_gpu = false
        }
        hamap {
            name = "HAMAP"
            dir = "hamap"
            hmm = "hamap.hmm.lib"
            profiles = "profiles"
            has_data = true
        }
        mobidblite {
            name = "MobiDB-lite"
            has_data = false
        }
        ncbifam {
            name = "NCBIFAM"
            dir = "ncbifam"
            hmm = "ncbifam.hmm"
            has_data = true
        }
        panther {
            name = "PANTHER"
            dir = "panther"
            hmm = "famhmm/binHmm"
            msf = "Tree_MSF"
            paint = "PAINT_Annotations"
            has_data = true
        }
        phobius {
            name = "Phobius"
            dir = ""
            has_data = false
        }
        pfam {
            name = "Pfam"
            dir = "pfam"
            hmm = "pfam_a.hmm"
            dat = "pfam_a.dat"
            has_data = true
        }
        pirsf {
            name = "PIRSF"
            dir = "pirsf"
            hmm = "sf_hmm_all"
            dat = "pirsf.dat"
            has_data = true
        }
        pirsr {
            name = "PIRSR"
            dir = "pirsr"
            hmm = "sr_hmm_all"
            rules = "sr_uru.json"
            has_data = true
        }
        prints {
            name = "PRINTS"
            dir = "prints"
            pval = "prints.pval"
            hierarchy = "FingerPRINTShierarchy.db"
            has_data = true
        }
        prositepatterns {
            name = "PROSITE patterns"
            dir = "prosite"
            dat = "prosite_patterns.dat"
            evaluator = "evaluator.dat"
            has_data = true
        }
        prositeprofiles {
            name = "PROSITE profiles"
            dir = "prosite"
            profiles = "prosite_profiles"
            skip_flagged_profiles = "skip_flagged_profiles.txt"
            has_data = true
        }
        sfld {
            name = "SFLD"
            dir = "sfld"
            hmm = "sfld.hmm"
            hierarchy = "sfld_hierarchy.tsv"
            sites_annotation = "sfld_sites.annot"
            has_data = true
        }
        smart {
            name = "SMART"
            dir = "smart"
            hmm3 = "hmmer3/smart.HMMs"
            hmm2 = "hmmer2"
            chunk_size = 1000
            has_data = true
        }
        superfamily {
            name = "SUPERFAMILY"
            dir = "superfamily"
            hmm = "hmmlib_1.75"
            selfhits = "self_hits.tab"
            cla = "dir.cla.scop.txt_1.75"
            model = "model.tab"
            pdbj95d = "pdbj95d"
            has_data = true
        }
        signalp_euk {
            name = "SignalP-Euk"
            organism = "eukarya"
            dir = ""
            mode = "fast"
            has_data = false
            use_gpu = false
        }
        signalp_prok {
            name = "SignalP-Prok"
            organism = "other"
            dir = ""
            mode = "fast"
            has_data = false
            use_gpu = false
        }
        tmbed {
            name = "TMbed"
            has_data = false
            use_gpu = false
        }
    }
}

