process {
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|io|mls|prints_runner|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref' {
        container = 'interproscan6.sif'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:mobidb_runner {
        container = 'idrpred.sif'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:phobius_runner {
        container = 'phobius.sif'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:signalp_runner {
        containerOptions = params.signalp_gpu ? '--gpus all' : ''
        container = params.signalp_gpu ? 'signalp6_gpu.sif' : 'signalp6.sif'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
}

apptainer {
    enabled = true
    autoMounts = true
    pullTimeout = "3 hours"  // the default is 20 minutes and fails with large images
}
