process {
    maxRetries      = 3
    errorStrategy   = { task.exitStatus in ((130..145) + 104 + 1 + 9 + 97 + 0) ? "retry" : "finish" }
    afterScript     = 'sleep 60'  // to avoid fail when using storeDir for missing output
    withLable:'local' {
        cpus = { 1 * task.attempt }
    }
    withLabel:'small' {
        cpus = { 1 * task.attempt }
        memory = { 4.GB * task.attempt }
        time = { 2.hour * task.attempt }
    }
    withLabel:'medium' {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        time = { 3.hour * task.attempt }
    }
    withLabel:'large' {
        cpus = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
        time = { 4.hour * task.attempt }
    }
}