process {
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|hmmer_funfam_runner|hmmer_gene3d_runner|io|mls|prints_runner|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref|phobius_runner' {
        container = 'docker.io/interpro/interproscan:6.0.0-alpha'
    }
    withLabel:mobidblite_runner {
        container = 'docker.io/matblum/idrpred:1.0.3'
    }
    withLabel:signalp_runner {
        container = 'docker.io/matblum/signalp:6.0h'
        containerOptions = params.signalpGPU ? '--gpus all' : ''
    }
    withLabel:tmhmm_runner {
        container = 'docker.io/emhobbs/deeptmhmm:1.0'
    }
}

docker {
    enabled = true
    mountFlags = 'Z'
}
