process {
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|hmmer_funfam_runner|hmmer_gene3d_runner|io|mls|prints_runner|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref' {
        container = 'interproscan6'
    }
    withLabel:mobidb_runner {
        container = 'idrpred'
    }
    withLabel:phobius_runner {
        container = 'phobius'
    }
    withLabel:signalp_runner {
        containerOptions = params.signalp_gpu ? '--gpus all' : ''
        container = params.signalp_gpu ? 'docker.io/library/signalp6_gpu' : 'docker.io/library/signalp6'
    }
}

docker {
    enabled = true
    mountFlags = 'Z'
}
