process {
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|io|mls|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref' {
        container = 'interproscan6'
        memory = { 2.GB * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:mobidb_runner {
        container = 'idpred'
        memory = { 2.GB * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:prints_runner {
        container = 'interproscan6.img'
        memory = { 16.GB * task.attempt }
        cpus = { 8 * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:signalp_runner {
        container = 'signalp6'
        memory = { 8.GB * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
}

docker {
    enabled = true
    mountFlags = 'Z'
}
