params {
    batchsize = 500
}

process {
    maxRetries = 3
    errorStrategy = { ( task.exitStatus == 3 ) ? 'retry' : 'terminate' }
    afterScript = 'sleep 60'  // to avoid fail when using storeDir for missing output
}

executor {
    name = 'local'
    exitReadTimeout = '5 min'
    submitRateLimit = '1/1sec'
}
