process {
    maxRetries = 3
    errorStrategy = { ( task.exitStatus == 3 ) ? 'retry' : 'terminate' }
    afterScript = 'sleep 60'  // to avoid fail when using storeDir for missing output
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|hmmer_funfam_runner|hmmer_gene3d_runner|io|mls|phobius_runner|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref' {
        memory = { 4.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:mobidblite_runner {
        memory = { 4.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:prints_runner {
        memory = { 12.GB * task.attempt }
        cpus = { 2 * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:signalp_runner {
        memory = { 8.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 2.hour * task.attempt }
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
}

executor {
    name = 'local'
    exitReadTimeout = '5 min'
    submitRateLimit = '1/1sec'
    if (params.maxWorkers != null) {
        maxWorkers = params.maxWorkers
    }
}
