process {
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|io|mls|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref' {
        container = 'interproscan6.img'
        memory = { 6.GB * task.attempt }
        time = { 2.hour * task.attempt }
    }
    withLabel:mobidb_runner {
        container = 'idpred.img'
        memory = { 6.GB * task.attempt }
        time = { 2.hour * task.attempt }
    }
    withLabel:signalp_runner {
        container = 'signalp6.img'
        memory = { 16.GB * task.attempt }
        time = { 2.hour * task.attempt }
    }
}

singularity {
    enabled = true
    pullTimeout = '3 hours' // the default is 20 minutes and fails with large images
}
