process {
    withLabel:'analysis_parser|cdd_runner|coils_runner|get_orfs|hmmer_runner|hmmer_2_runner|hmmer_funfam_runner|hmmer_gene3d_runner|io|mls|prints_runner|prosite_pfscan_runner|prosite_pfsearch_runner|treegrafter_analysis|xref' {
        container = 'docker://interpro/interproscan:6.0.0-alpha'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:mobidblite_runner {
        container = 'docker://matblum/idrpred:1.0.3'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:phobius_runner {
        container = 'phobius.img'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
    withLabel:signalp_runner {
        containerOptions = params.signalp_gpu ? '--gpus all' : ''
        container = params.signalp_gpu ? 'signalp6_gpu.img' : 'signalp6.img'
        errorStrategy = { task.exitStatus in [143,137,104] && task.attempt <= 3 ? 'retry' : 'finish' }
    }
}

singularity {
    enabled = true
    pullTimeout = '3 hours' // the default is 20 minutes and fails with large images
}
