process {
    memory = { 6.GB * task.attempt }
    time = { 2.hour * task.attempt }
    maxRetries = 3
    errorStrategy = { ( task.exitStatus == 0 ) ? 'retry' : 'terminate' }
    afterScript = 'sleep 60'  // to avoid fail when using storeDir for missing output
}

executor {
    name = 'slurm'
    queueSize = 30
    submitRateLimit = '10/1sec'
    exitReadTimeout = '30 min'
    jobName = {
        task.name // [] and ' ' may not be allowed in job names
            .replace('[', '(')
            .replace(']', ')')
            .replace(' ', '_')
    }
    submitRateLimit = 100
}