process {
    withLabel: 'local' {
        executor = 'local'
    }
}

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '10/1sec'
    exitReadTimeout = '30 min'
    jobName = {
        task.name // [] and ' ' may not be allowed in job names
            .replace('[', '(')
            .replace(']', ')')
            .replace(' ', '_')
    }
}
