process {
    withLabel:ips6_container {
        container = 'docker://interpro/interproscan:6.0.0-alpha'
    }
    withLabel:mobidblite_container {
        container = 'docker://matblum/idrpred:1.0.3'
    }
    withLabel:signalp_container {
        container = 'docker://interpro/signalp:6.0h'
        containerOptions = params.signalpGpu ? '--nv' : ''
    }
    withLabel:deeptmhmm_container {
        container = 'docker://interpro/deeptmhmm:1.0'
        containerOptions = params.deeptmhmmGpu ? '--nv' : ''
    }
}

apptainer {
    enabled = true
    pullTimeout = '3 hours'  // the default is 20 minutes and fails with large images
}
