process {
    withLabel:ips6_container {
        container = 'docker://interpro/interproscan:6.0.0'
    }
    withLabel:interpro_n_container {
        container = 'interpro/interpro-n:latest'
    }   
    withLabel:mobidblite_container {
        container = 'docker://matblum/idrpred:1.0.3'
    }
    withLabel:signalp_container {
        container = 'docker://interpro/signalp:6.0i'
    }
    withLabel:deeptmhmm_container {
        container = 'docker://interpro/deeptmhmm:1.0'
    }
    withLabel:tmbed_container {
        container = 'docker://interpro/tmbed:1.0.2'
    }
    withLabel:groovy_container {
        container = 'docker://groovy:4.0.27-jdk17'
    }
    withLabel:use_gpu {
        containerOptions = '--nv'
    }
}

apptainer {
    enabled = true
    pullTimeout = '3 hours' // the default is 20 minutes and fails with large images
}
