executor {
    name = 'awsbatch'
}

process {
    executor = 'awsbatch'
    withName: 'SEARCH_PFAM|SEARCH_NCBIFAM' {
        memory = {  3.GB * task.attempt }
    }
    withName: 'SEARCH_PANTHER' {
        memory = {  4.GB * task.attempt }
    }
    withName: 'SEARCH_GENE3D' {
        memory = {  6.GB * task.attempt }
    }
}