executor {
    name = 'local'
    exitReadTimeout = '5 min'
    submitRateLimit = '1/1sec'
    if (params.maxWorkers != null) {
        cpus = params.maxWorkers
    }
}

process {
    executor        = 'local' 
    maxRetries      = 3
    errorStrategy   = { task.exitStatus in ((130..145) + 104 + 1 + 9 + 97 + 0) ? "retry" : "finish" }
    // afterScript     = 'sleep 60'  // to avoid fail when using storeDir for missing output
    withLabel: 'mini' {
        cpus   = { 1    * task.attempt }
        memory = { 1.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel: 'tiny' {
        cpus   = { 1    * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
    withLabel: 'small' {
        cpus   = { 1    * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }
    withLabel: 'medium' {
        cpus   = { 1    * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel: 'large' {
        cpus   = { 1     * task.attempt }
        memory = { 8.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withName: 'DOWNLOAD_INTERPRO|DOWNLOAD_DATABASE' {
        errorStrategy = 'retry'
    }
    withName: 'SEARCH_PANTHER' {
        memory = { 2.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }
}
