params {
    batchSize    = 100000
    subBatchSize = 5000
}

process {
    withLabel: 'bigmem' {
        memory = { 16.GB * task.attempt }
    }

    withLable: 'brief' {
        time   = { 2.h  * task.attempt }
    }
    withLabel: 'short' {
        time   = { 4.h  * task.attempt }
    }
    withLabel: 'moderate' {
        time   = { 6.h  * task.attempt }
    }
    withLabel: 'long' {
        time   = { 24.h  * task.attempt }
    }

    // Alias RUN_HMMER and are the only aliases that need more time
    withName: 'SEARCH_NCBIFAM' {
        time   = { 6.h  * task.attempt }
    }
    withName: 'SEARCH_PFAM' {
        time   = { 4.h  * task.attempt }
    }
    withName: 'SEARCH_PIRSR' {
        time   = { 2.h  * task.attempt }
    }
}