params {
    batchSize    = 100000
    subBatchSize = 5000
}

process {
    withLabel: 'mini' {
        memory = { 4.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel: 'tiny' {
        memory = { 8.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withLabel: 'small' {
        memory = { 12.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel: 'medium' {
        memory = { 16.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel: 'large' {
        memory = { 32.GB  * task.attempt }
        time   = { 16.h   * task.attempt }
    }
    withName: 'SEARCH_PANTHER' {
        memory = { 8.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
}
