params {
    batchSize    = 100000
    subBatchSize = 5000
}

process {
    withLabel: 'mini' {
        memory = { 1.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel: 'tiny' {
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel: 'small' {
        memory = { 2.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
    withLabel: 'medium' {
        memory = { 2.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel: 'large' {
        memory = { 2.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }

    withLabel: 'bigmem' {
        memory = { 14.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    // Increased time for specific processes
    withName: 'PREPROCESS_HAMAP' {
        time   = { 2.h  * task.attempt }
    }
    withName: 'SEARCH_PIRSF' {
        time   = { 2.h * task.attempt }
    }
    withName: 'SEARCH_NCBIFAM' {
        time   = { 8.h  * task.attempt }
    }
    withName: 'SEARCH_SMART' {
        time   = { 24.h  * task.attempt }
    }
    withName: 'RUN_TREEGRAFTER' {
        time   = { 12.h  * task.attempt }
    }

    // Allow a lot of time for writing output files
    withName: 'WRITE_GFF3' {
        memory = { 2.GB * task.attempt }
        time = { 48.h * task.attempt }
    }
    withName: 'WRITE_JSON' {
        memory = { 2.GB * task.attempt }
        time = { 48.h * task.attempt }
    }
    withName: 'WRITE_TSV' {
        memory = { 2.GB * task.attempt }
        time = { 48.h * task.attempt }
    }
    withName: 'WRITE_XML' {
        memory = { 2.GB * task.attempt }
        time = { 48.h * task.attempt }
    }
}
