process {
    withLabel:ips6_container {
        container = 'docker.io/interpro/interproscan:6.0.0-beta'
    }
    withLabel:mobidblite_container {
        container = 'docker.io/matblum/idrpred:1.0.3'
    }
    withLabel:signalp_container {
        container = 'docker.io/interpro/signalp:6.0h'
    }
    withLabel:deeptmhmm_container {
        container = 'docker.io/interpro/deeptmhmm:1.0'
    }
    withLabel:tmbed_container {
        container = 'docker.io/interpro/tmbed:1.0.2'
    }
    withLabel:use_gpu {
        containerOptions = '--gpus all'
    }
}

docker {
    enabled = true
    mountFlags = 'Z'
    pullTimeout = '3 hours'  // the default is 20 minutes and fails with large images
}
