process {
    withLabel:ips6_container {
        container = 'docker.io/interpro/interproscan:6.0.0-alpha'
    }
    withLabel:mobidblite_container {
        container = 'docker.io/matblum/idrpred:1.0.3'
    }
    withLabel:signalp_container {
        container = 'docker.io/interpro/signalp:6.0h'
        containerOptions = params.signalpGPU ? '--gpus all' : ''
    }
    withLabel:deeptmhmm_container {
        container = 'docker.io/interpro/deeptmhmm:1.0'
    }
}

docker {
    enabled = true
    mountFlags = 'Z'
    pullTimeout = '3 hours'  // the default is 20 minutes and fails with large images
}
