executor {
    name            = 'lsf'
    queueSize       = 1000
    exitReadTimeout = '30 min'
    submitRateLimit = '10/1sec'
    jobName         = {
        task.name // [] and ' ' may not be allowed in job names
            .replace('[', '(')
            .replace(']', ')')
            .replace(' ', '_')
    }
}

process {
    executor = 'lsf'

    withLabel: use_gpu {
        clusterOptions = '-gpu "num=1"'
    }
}