executor {
    name = 'slurm'
    queueSize = 100
    exitReadTimeout = '30 min'
    jobName = {
        task.name // [] and ' ' may not be allowed in job names
            .replace('[', '(')
            .replace(']', ')')
            .replace(' ', '_')
    }
    submitRateLimit = 100
}

process {
    executor = 'slurm'

    withLabel: use_gpu {
        clusterOptions = '--gres=gpu:1'
    }
}