executor {
    name = 'slurm'
    queueSize = 100
    exitReadTimeout = '30 min'
    jobName = {
        task.name // [] and ' ' may not be allowed in job names
            .replace('[', '(')
            .replace(']', ')')
            .replace(' ', '_')
    }
    submitRateLimit = 100
}


process {
    withLabel: 'native' {
      executor {
          name = 'local'
          exitReadTimeout = '5 min'
          submitRateLimit = '1/1sec'
          if (params.maxWorkers != null) {
              maxWorkers = params.maxWorkers
          }
      }
    }
}