name: Nextflow linting

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Manual execution of NF linting'

  push:
    branches: [ main ]
    paths:
      - .github/workflows/nf-lint.yml

  pull_request:
    branches: [ main ]
    paths:
      - interproscan/subworkflows
      - interproscan/modules
      - interproscan.nf
      - .github/workflows/nf-lint.yml

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    continue-on-error: true

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Remove unnecessary files
      run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        pip install -r utilities/requirements-dev.txt
        pip install nextflow

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ hashFiles('**/Dockerfile') }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Set up linter-rules-for-nextflow
      run: |
        git clone https://github.com/awslabs/linter-rules-for-nextflow.git
        bash utilities/linter/drop_rules.sh linter-rules-for-nextflow
        rm -rf linter-rules-for-nextflow/examples
      
    - name: Build and load Docker image
      uses: docker/build-push-action@v3
      with:
        context: ./linter-rules-for-nextflow
        file: ./linter-rules-for-nextflow/Dockerfile
        load: true
        tags: linter-rules-for-nextflow:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache,mode=max

    - name: Remove tests directory
      run: |
        rm -rf tests

    - name: Run Docker linter
      id: linter
      run: |
        cd interproscan
        docker run -v $PWD:/data -e ruleset=general linter-rules-for-nextflow > docker.output.txt
        cat docker.output.txt

    - name: Check linter output
      run: |
        if grep -q "CodeNarc completed: (p1=0; p2=0;" docker.output.txt; then
          echo "Linting passed"
        else
          echo "Linting failed"
          cat docker.output.txt
          exit 1
        fi
